<?xml version="1.0"?>
<launch>

    <arg name="ur_name" default="ur"/>
    <!-- ur_goal_width value betwewen 0.0 (open) and 0.8 (closed) -->
    <arg name="ur_goal_width" default="0.55" />

    <group ns="$(arg ur_name)">
        <node pkg="cooperative_manipulation_controllers" type="ur16e_gripper_goal.py" name="ur16e_gripper_goal">
            <param name="ur_ns" value="$(arg ur_name)"/>
            <param name="ur_goal_width" value="$(arg ur_goal_width)"/>
        </node>
    </group>  


</launch>