<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur16e" >

  <xacro:arg name="xyz" default="'0 0 0'"/>
  <xacro:arg name="rpy" default="'0 0 0'"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur16e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur16e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur16e_default.yaml"/>
  <xacro:ur16e_robot prefix="" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
  </joint>

</robot>
