<launch>
  <!-- Set namespace of the manipulators -->
  <arg name="franka_emika_name"  default="panda"/>

  <!--initial_pose-->
  <!-- default "[0.00,-0.785,0.0,-2.356,0.0,1.57,-0.785]" -->
  <arg name="panda_initial_pose" default="[0.0,-0.785,0.0,-1.57,0.0,2.356,0.785]"/>

  <!--initial_pose, translation and rotation of base-->
  <arg name="panda_base_trans" default="'0.625 0 0'"/>
  <arg name="panda_base_rot" default="'0 0 3.14'"/>
    
  <!--arg with suffix tf for static_transform_publisher node, args without suffix "tf" fit for urdf files, also important for the correct pose in rviz-->
  <arg name="panda_base_trans_tf" default="1 0 0"/>
  <arg name="panda_base_rot_tf" default="0 0 1 0"/>
    
  <!-- Load Gripper -->
  <arg name="load_gripper" default="true"/> 

  <!-- Load Franka Emika details to parameterserver -->
  <rosparam command="load" file="$(find panda_gazebo)/config/robot_details.yaml"/>
    
  <!-- In Franka Emika namespace: Launch Franka Emika -->
  <group ns="$(arg franka_emika_name)">
      <include file="$(find cooperative_manipulation_simulation)/simulation_launch/utils/franka.launch">
          <arg name="panda_name" value="$(arg franka_emika_name)"/>
          <arg name="initial_pose" value="$(arg panda_initial_pose)"/>
          <arg name="panda_xyz" value="$(arg panda_base_trans)"/>
          <arg name="panda_xyz_tf" value="$(arg panda_base_trans_tf)"/>
          <arg name="panda_rpy" value="$(arg panda_base_rot)"/>
          <arg name="panda_rpy_tf" value="$(arg panda_base_rot_tf)"/>
          <arg name="load_gripper" value="$(arg load_gripper)"/> 
    </include>
  </group> 

  <!-- Franka Emika launch rviz -->
  <!-- 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find cooperative_manipulation_simulation)/rviz/franka_single_config.rviz"/>
  -->
</launch>
