<?xml version="1.0"?>
<launch>

    <arg name="panda_name" default="panda"/>
    <arg name="ur_name" default="ur"/>

    <!-- ur_goal_width value betwewen 0.0 open and 0.8 closed (If grapping an object add +0.05 as offset)-->
    <arg name="ur_goal_width" default="0.451" />
    <!-- panda_goal_width value betwewen 0.1 (open) and 0.0 (closed) -->
    <arg name="panda_goal_width" default="0.039" />
    <arg name="panda_goal_epsilon_inner" default="0.005" />
    <arg name="panda_goal_epsilon_outer" default="0.005" />
    <arg name="panda_goal_speed" default="0.1" />
    <arg name="panda_goal_force" default="10.0" />


    <include file="$(find cooperative_manipulation_simulation)/simulation_launch/utils/gripper_grasp/franka_gripper_grasp.launch">
        <arg name="panda_name" value="$(arg panda_name)" />
        <arg name="panda_goal_width" value="$(arg panda_goal_width)" />
        <arg name="panda_goal_epsilon_inner" value="$(arg panda_goal_epsilon_inner)" />
        <arg name="panda_goal_epsilon_outer" value="$(arg panda_goal_epsilon_outer)" />
        <arg name="panda_goal_speed" value="$(arg panda_goal_speed)" />
        <arg name="panda_goal_force" value="$(arg panda_goal_force)" />
    </include>


    <include file="$(find cooperative_manipulation_simulation)/simulation_launch/utils/gripper_grasp/ur16e_gripper_grasp.launch">
        <arg name="ur_name" value="$(arg ur_name)" />
        <arg name="ur_goal_width" value="$(arg ur_goal_width)" />
    </include>
 

</launch>