<?xml version="1.0"?>
<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="1.03" />
  <arg name="yaw" default="0.0" />
  <arg name="sdf_object_file" default="$(find cooperative_manipulation_simulation)/model/cooperative_manipulation_object/model.sdf"/>
  <arg name="object_name" default="object"/>

  <!-- startup simulated world -->
    <group ns="$(arg object_name)">
        <include file="$(find cooperative_manipulation_simulation)/simulation_launch/utils/object.launch">
            <arg name="sdf_object_file" value="$(arg sdf_object_file)"/>
            <arg name="object_name" value="$(arg object_name)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="yaw" value="$(arg yaw)" />
        </include>
    </group> 

</launch>