<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" value="192.168.13.90" />
  <arg name="load_gripper" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- Launch the franka_hardware_node -->
  <node pkg="cooperative_manipulation_hardware" name="franka_hardware_node" type="franka_hardware_node.py" output="screen"/>

</launch>
