<?xml version="1.0"?>
<launch>

    <arg name="ur_name" default="ur"/>
    <arg name="load_gripper" default="true"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="ur_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Fake Calibration -->
    <node pkg="rostopic" type="rostopic" name="ur_fake_joint_calibration"
          args="pub /calibrated std_msgs/Bool true" />

    <!-- joint_state_controller -->
    <rosparam file="$(find ur_e_gazebo)/controller/joint_state_controller.yaml" command="load"/>
    <node name="ur_joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
  
  <!-- start arm_controller -->
  <!--
  <rosparam file="$(find cooperative_manipulation_controllers)/config/arm_controller_ur16e.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  -->

  <!-- start ur_admittance_control -->
  <rosparam file="$(find cooperative_manipulation_controllers)/config/ur_admittance_controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn ur_admittance_controller" />

  <!-- load robotiq 85 gripper controllers -->
  <rosparam if="$(arg load_gripper)" command="load" file="$(find cooperative_manipulation_controllers)/config/ur16e_robotiq_85_gripper_controller.yaml" />
  <!-- ns="/$(arg ur_name)"-->

  <node name="robot_controllers" pkg="controller_manager" type="spawner" output="screen" args="gripper_controller"/>


  <!-- load other controllers -->
  <!--
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
  -->
 
  <!-- load pid controller parameters -->
  <!--
  <rosparam file="$(find cooperative_manipulation_controllers)/config/ur_pid_controller.yaml" command="load"/> 
  -->

  

</launch>
