<launch>
  <!-- Set namespace of the manipulators:____________________________________________________________________________-->
  <arg name="universal_robot_name"  default="ur"/>
  <!--_______________________________________________________________________________________________________________-->

  <!-- Universal Robot:______________________________________________________________________________________________-->

    <!-- Set Universal Robot arguments -->
    <!--initial_pose(translation and rotation) of base-->
    
    <arg name="ur_base_trans" default="'+2 0 0'"/>
    <arg name="ur_base_rot" default="'0 0 1.57'"/>
    <arg name="ur_transmission_hw_interface" default="hardware_interface/VelocityJointInterface"/>

    <group ns="$(arg universal_robot_name)">
      <include file="$(find cooperative_manipulation_simulation)/simulation_launch/universal_robot.launch">
      <arg name="ur_name" value="$(arg universal_robot_name)"/>
      <arg name="ur_transmission_hw_interface" value="$(arg ur_transmission_hw_interface)" />
      <arg name="ur_xyz" value="$(arg ur_base_trans)"/>
      <arg name="ur_rpy" value="$(arg ur_base_rot)"/>
      <arg name="debug" default="false" />
    </include>
    </group> 

    <!-- Universal Robot launch rviz -->
    <!--
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find cooperative_manipulation_simulation)/rviz/ur_single_config.rviz"/>
    -->
  <!--_______________________________________________________________________________________________________________-->

  
</launch>
