<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!--initial_pose(translation and rotation) of base-->
  <arg name="ur_xyz" default="0 0 0"/>
  <arg name="ur_rpy" default="0 0 0"/>

  <!-- send robot urdf to param server -->
  <include file="$(find cooperative_manipulation_robot_description)/custom_ur_description/launch/custom_ur16e_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="ur_xyz" default="$(arg ur_xyz)"/>
    <arg name="ur_rpy" default="$(arg ur_rpy)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <include file="$(find cooperative_manipulation_controllers)/launch/universal_robot_controller.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find cooperative_manipulation_controllers)/config/arm_controller_ur16e.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

  <!-- load pid controller parameters -->
  <!-- <rosparam file="$(find cooperative_manipualtion)/cooperative_manipulation_controllers/config/ur_pid_controller_params.yaml" command="load"/> -->

</launch>

